
.modal {
    z-index: 9999999;
}
.fade {
    transition: opacity .15s linear;
}
.special-offer-modal .form-modal {
    background: #fff;
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 20px;
    position: relative;
    width: 450px;
}
.special-offer-modal .modal-content {
    background: 0 0;
    border: none;
}
.special-offer-modal .upto {
    color: #000!important;
    font-style: normal;
    font-size: 17px;
    font-weight: 400px;
}
.special-offer-modal .off-offer {
    color: #129197;
    font-size: 52px;
    font-weight: 800;
    position: relative;
    top: -25px;
}
.special-offer-modal .submit {
    padding: 15px 0;
    font-size: 14px;
}
.modal-body .submit {
    padding: 3!important;
    border: none;
}
button.submit.modal-signup-btn {
    width: 100%;
    border-color: #129197;
    background-color: #129197;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    padding: 15px 0;
    height: 50px;
}

.mx-auto.limited-time {
    color: #502eff;
    align-items: center;
    position: relative;
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 600;

}
.special-offer-modal .limited-time {
    background-color: rgb(1 33 105 / 20%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0 10px;
    color: #fff!important;
    font-size: 12px;
    height: 25px;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: calc(50% - 64px);
    display: flex;
    align-items: center;
}
.special-offer-modal .limited-time p {
    color: #129197;
    align-items: center;
    position: relative;
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 600;
}

/* .special-offer-modal .modal-bg {
    margin-right: -100px;
} */

#enquirypopup {
    /* display: block; */
    opacity: 1;
}

.pop-img{
    margin-left: -90px;
    margin-top: -45px;
}


.close-pop {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float: right;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    margin-top: -35px;
}



.special-offer-modal .modal-footer{border: none !important;}
@media only screen and (min-width: 576px){
    
    .special-offer-popup {
      max-width: 980px;
      margin-top: 10%;
    }
}